
@model mrsProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Hello Welcome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>
        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
        <dt>Address:</dt>
        <dd>@Model.Address</dd>
        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            ]

        </dd>
    </dl>

   
</div>
<hr />
