@model mrsProject.Models.Order
@{
    ViewData["Title"] = "CheckOut";
}

<h2>Checkout</h2>

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderSubtotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderSubtotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PendingOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PendingOrder)
        </dd>
    </dl>
</div>

<dl class="dl-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Select a Payment Method:</label>
        <div class="col-md-8">
            @Html.DropDownList("SelectedCreditcard", (SelectList)ViewBag.AllCreditcards, new { @class = "form-control" })
        </div>
    </div>

    <dt>
        <a asp-controller="Account" asp-action="ManageAccount" class="btn btn-success">Enter A New Credit Card</a>
    </dt>

</dl>