@model mrsProject.Models.Order
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderSubtotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderSubtotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingCost)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PendingOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PendingOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Orders" asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-controller="Orders" asp-action="CheckOut" asp-route-id="@Model.OrderID">Check Out</a> |
    <a asp-controller="Search" asp-action="Index">Back to List</a>
</div>
